.not-found {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.not-found__image {
  height: 100%;
  width: auto;
  max-height: 636px;
}

.not-found__title {
  text-align: center;
}
